body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #0077b6;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #0077b6;
}

.patronaty {
    padding: 20px;
    background-color: white; /* Białe tło paska patronatów */
    text-align: center;
    border-top: 2px solid #ccc;
    margin-top: 30px;
}

.honorowy-patronat, .medialne-patronaty {
    margin-bottom: 20px;
}

.honorowy-patronat img, .patronaty-media img {
    display: inline-block;
    margin: 0 10px;
}

.patronaty-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.plakat {
    text-align: center;
    margin: 40px 0; /* Odstęp wokół plakatu */
}

.plakat h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.plakat-img img {
    max-width: 100%;  /* Plakat dopasowuje się do szerokości strony */
    height: auto;     /* Zachowanie proporcji plakatu */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Dodanie cienia dla plakatu */
}


@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
